body {
    background-color: rgb(1, 8, 16);
    font-family: 'Pixelify Sans', cursive;
    color: rgb(185, 222, 181);
}

#header-and-nav {
    background-color: #04121c;
    padding: 16px;
}

header {
    margin-bottom: 8px;
}

nav {
    display: flex;
    align-items: center;
    gap: 2px;
    overflow-y: auto;
}

.vertical-divider {
    background-color: gray;
    width: 1px;
    margin-left: 4px;
    margin-right: 4px;
    height: 24px;
}

h1, h2, p, body {
    margin: 0;
}

button {
    font-family: inherit;
    font-size: 1em;
}

.nav-button {
    padding: 8px;
    transition: all 125ms;
    text-decoration: none;
    border-radius: 4px;
    height: fit-content;
    width: fit-content;
    white-space: nowrap;
    background: none;
    color: rgb(137, 190, 31);;

    /* using an outline instead of a border here to the avoid element changing size when
    outline type is changed */
    outline: solid 1px;
    outline-color: rgb(137, 190, 31);
    border: none;
    margin: 2px;
}

.nav-button:hover {
    color: rgb(255, 255, 255);
    outline: dotted;
}

.nav-button-selected {
    transition: all 125ms;
    outline: ridge 4px;  
}

#container {
    position: relative;
    min-height: 100vh;
}

#content-parent {
    padding-bottom: 2.5rem;
    margin: 16px;
    display: flex;
    gap: 16px;

    animation-duration: 1000ms;
    animation-name: slide-in;
    animation-iteration-count: 1;
}

.hidden {
    display: none;
}

@keyframes slide-in {
    from {
        position: fixed;
        transform: translateY(100%);
        opacity: 0%;
    }
    to {
        transform: translateY(0%);
        opacity: 100%;
        position: relative  ;
    }
}

main {
    background-color: rgb(1, 23, 22);
    padding: 16px;
    border-radius: 8px;
}

#primary-main {
    width: 100%;
}

iframe {
    max-width: 100%;
    border-radius: 8px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 2.5rem;
    width: 100%;
    bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color: #000000;
}

@media screen and (max-width: 600px) {
    #content-parent {
        flex-direction: column;
    }
    
  }