body {
    background-color: rgb(1, 8, 16);
    font-family: 'Pixelify Sans', cursive;
    color: rgb(185, 222, 181);
    margin: 0;
}

#header-and-nav {
    background-color: #04121c;
    padding: 16px;
}

header {
    margin-bottom: 8px;
}

nav {
    display: flex;
    gap: 2px;
    overflow-y: auto;
}

h1, h2, p {
    margin: 0;
}

.nav-link {
    padding: 8px;
    transition: all 250ms;
    text-decoration: none;
    outline: solid 1px;
    border-radius: 4px;
    margin: 2px;
}

.nav-link:link, .nav-link:visited {
    color: rgb(137, 190, 31);
}

.nav-link:hover {
    color: rgb(255, 255, 255);
    outline: outset ;
}

#container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

main {
    margin: 16px;
    background-color: rgb(1, 23, 22);
    padding: 16px;
    border-radius: 8px;
}

iframe {
    max-width: 100%;
    border-radius: 8px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 2.5rem;
    width: 100%;
    bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color: #000000;
}