body {
    background-color: #0b0b0c;
    font-family: 'Pixelify Sans', cursive;
    color: white;
    margin: 0;
}

#header-and-nav {
    padding: 16px;
    background-color: black;
}

header {
    margin-bottom: 8px;
}

nav {
    display: flex;
    gap: 8px;
}

h1, h2, p {
    margin: 0;
}

.nav-link {
    padding: 8px;
    transition: all 250ms;
    text-decoration: none;
    outline: solid 1px;
    border-radius: 4px;
}

.nav-link:link, .nav-link:visited {
    color: rgb(170, 28, 109);
}

.nav-link:hover {
    color: rgb(255, 255, 255);
    outline: dotted;
}

#container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

main {
    margin: 16px;
    background-color: rgb(16, 15, 18);
    padding: 16px;
    border-radius: 8px;
}

iframe {
    max-width: 100%;
    border-radius: 8px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 2.5rem;
    width: 100%;
    bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color: #000000;
}