body {
    background-color: rgb(1, 8, 16);
    font-family: 'Pixelify Sans', cursive;
    color: rgb(185, 222, 181);
    min-height: 100vh;
}

#header-and-nav {
    background-color: #04121c;
    padding: 16px;
}

header {
    margin-bottom: 8px;
}

nav {
    display: flex;
    align-items: center;
    gap: 4px;
    overflow-y: auto;
}

.full-width {
    width: 100%;
    box-sizing: border-box;
}

.vertical-divider {
    background-color: gray;
    width: 1px;
    margin-left: 2px;
    margin-right: 2px;
    height: 24px;
}

h1, h2, p, body {
    margin: 0;
}

button {
    font-family: inherit;
    font-size: 1em;
}

.nav-button {
    padding: 8px;
    transition: all 125ms;
    text-decoration: none;
    border-radius: 4px;
    height: fit-content;
    width: fit-content;
    white-space: nowrap;
    background: none;
    color: rgb(137, 190, 31);;

    /* using an outline instead of a border here to the avoid element changing size when
    outline type is changed */
    outline: solid 1px;
    outline-color: rgb(137, 190, 31);
    border: none;
    margin: 2px;
}

.image-container {
    display: flex;
    justify-content: center;
}

.nav-button:hover {
    filter:brightness(140%)
}

.nav-button-selected {
    color: rgb(255, 255, 255);
    outline: dotted;
}

#container {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


#content-parent {
    padding-bottom: 2.5rem;
    margin: 16px;
    display: flex;
    gap: 16px;
}

.hidden {
    display: none;
}

@keyframes fade-in {
    from {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

main {
    background-color: rgb(1, 23, 22);
    padding: 16px;
    border-radius: 8px;
    animation-timing-function: ease-in;
    animation-duration: 250ms;
    animation-name: fade-in;
    animation-iteration-count: 1; 
}

iframe {
    max-width: 100%;
    border-radius: 8px;
}

@media screen and (max-width: 600px) {
    #content-parent {
        flex-direction: column;
    }
    
  }